body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;

}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: red;
}







/* CSS */
.hero {
    background-color: darkgray;
    text-align: center;
    padding: 100px 0;
}

.container {
    width: 80%;
    margin: auto;
}

.profile-pic {
    border-radius: 20px;
    width: 200px;
    height: 300px;
    margin-right: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid white;
}

.profile-info {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1; /* Change opacity to 1 */
    transform: translateX(0); /* Change transform to translateX(0) */
}


.profile-info .name {
    margin-bottom: 20px;
    margin-left: -300px;
}

.profile:hover .profile-pic {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.profile:hover .profile-info {
    opacity: 1;
    transform: translateX(0);
}











.about {
    padding: 50px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.about-info {
    margin-bottom: 30px;
}

.education-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.education-card:hover {
    transform: translateY(-5px);
}

.languages .card,
.tools .card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.languages .card:hover,
.tools .card:hover {
    transform: translateY(-5px);
}

.languages ul,
.tools ul {
    list-style-type: none;
    padding: 0;
}

.languages ul li,
.tools ul li {
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
}

.languages ul li .percentage,
.tools ul li .percentage {
    font-weight: normal;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.languages ul li::after,
.tools ul li::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3498db;
    transition: width 0.3s ease-in-out;
}

.languages ul li:hover::after,
.tools ul li:hover::after {
    width: 100%;
}

.languages ul li:hover .percentage,
.tools ul li:hover .percentage {
    opacity: 1;
}


